[Desktop Entry]
Name=CscpAssistURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/cscpassist;
TryExec=cscpassist
Exec=cscpassist %u
Icon=cscpassist
Terminal=false
Type=Application
StartupNotify=false
